@media (max-width: 767px) {
  .title-yellow{font-size: 36px;}
  .title-purple{font-size: 36px;}
  .title-red{font-size: 36px;}
  .title-orange{font-size: 36px;}
  .title-blue{font-size: 36px;}



}

@media (max-width: 480px) {
  .alignB{padding: 0px 18px 0px 85px;}
}
